---
// file: src/components/todo-new.astro
---

<form is="todo-new">
	<input
		name="todo-title"
		type="text"
		placeholder="Add a new to do"
		class="js:c-todo-new__title js:c-todo-new--disabled"
	/>
	<button
		class="c-todo-new__submit js:c-todo-new__submit js:c-todo-new--disabled"
		aria-disabled="true">✅</button
	>
</form>
