---
// file: src/components/todo-new.astro
---

<form is="todo-new">
	<input
		name="todo-title"
		type="text"
		placeholder="Add a new to do"
		class="js:c-todo-new__title"
	/>
	<button class="js:c-todo-new__submit">✅</button>
</form>
