---
// file: src/components/todo-item.astro
import type { Todo } from '../types';

interface Props {
	todo?: Todo;
}

const todo = Astro.props.todo;
const [todoId, index, checked, disabled] = todo
	? [
			todo.id,
			String(todo.index),
			todo.completed ? 'checked' : undefined,
			true,
	  ]
	: ['', '', undefined, false];
---

<li class="c-todo-list__item" data-index={index}>
	<input type="checkbox" {checked} id={todoId} {disabled} /><slot /><button
		aria-disabled={disabled ? 'true' : 'false'}>❌</button
	>
</li>
