---
// file: src/components/todos-view.astro
import type { Todo } from '../types';
import TodoNew from './todo-new.astro';
import TodoContent from './todo-content.astro';
import TodoItem from './todo-item.astro';

interface Props {
	title: string;
	todoItems: Todo[];
}

const { title, todoItems } = Astro.props;
---

<todos-view>
	<h3>{title}</h3>
	<br />
	<h1>To do</h1>
	<TodoNew />
	<ul class="js:c-todos-view__list">
		{
			todoItems.map((todo) => (
				<TodoItem {todo}>
					<TodoContent {todo} />
				</TodoItem>
			))
		}
	</ul>
</todos-view>
