---
// file: src/components/todos-view.astro
import type { Todo } from '../types';
import TodoItem from './todo-item.astro';

interface Props {
	title: string;
	todoItems: Todo[];
}

const { title, todoItems } = Astro.props;
---

<todos-view>
	<h3>{title}</h3>
	<br />
	<h1>To do</h1>
	<form>
		<input
			type="text"
			placeholder="Add a new to do"
			class="js:c-todos-view__title"
		/>
		<button class="js:c-todos-view__new">✅</button>
	</form>
	<ul class="js:c-todos-view__list">
		{todoItems.map((todo) => <TodoItem todo={todo} />)}
	</ul>
</todos-view>
