---
// file: src/pages/index.astro
import Base from '../layouts/base.astro';
import MainTemplates from '../templates/main-templates.astro';
import TodoNew from '../components/todo-new.astro';
import TodoList from '../components/todo-list.astro';
import { selectTodos } from './todos-store';

const todos = await selectTodos(Astro.locals.sessionId);
const title = `Astro "qsa-observer: zero to hero" Todos`;
---

<Base {title}>
	<main>
		<h3>{title}</h3>
		<br />
		<h1>To do</h1>
		<TodoNew />
		<TodoList {todos} />
	</main>
	<MainTemplates />
	{
		/* <script is:inline id="resume-data" type="application/json" set:html={JSON.stringify(todos)} /> */
	}
</Base>
